:root{
  --primary:#656565;
  --secondary:black;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size:62.5%;
}

*{
  color:white;
  text-decoration: none;
  font-family: 'Source Code Pro', monospace;
  text-align: center;
  caret-color: transparent;
}

h1{
  font-size: 4em;
}

p{
  font-size: 2em;
}

body {
  animation: background 40s linear infinite;
  background: black;
  background-image: linear-gradient(var(--primary) .1em, transparent .1em), linear-gradient(90deg, var(--primary) .1em, transparent .1em);
  background-size: 5em 5em;
}

@keyframes background {
  0% {
  background-position: 50% 0%;
  }
  25% {
  background-position: 100% 50%;
  }
  50% {
  background-position: 50% 100%;
  }
  75% {
  background-position: 0% 50%;
  }
  100% {
  background-position: 50% 0%;
  }
}

.nav-bar{
  display: flex;
  position: fixed; /* follows as you scroll */
  top:0; /* sticks it to the top of the screen*/
  height:2em;
  width:80%;
  margin-left: 10%;
  background:var(--primary);
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  font-size:3em;
}

.nav-bar > a:hover{
  color:var(--secondary);
}

.anchor{
  display:block;
  padding-top:4em;
  margin-top:-4em;
}

.container{
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
}

.skills-container{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 10%;
  background:var(--primary);
  border-radius: 20px;
  padding:10px;
}

.skill-box{
  padding-bottom: 20px;
  width: 100%;
}

.zoom{
  transition: transform .2s;
  z-index: -1;
}

.zoom:hover{
  transform: scale(1.5);
  z-index: -1;
}

.skill-box > h1{
  font-weight: 800;
  letter-spacing: 5px;
  text-shadow: -1px 1px var(--secondary),
  -2px 2px var(--secondary),
  -3px 3px var(--secondary),
  -4px 4px var(--secondary),
  -5px 5px var(--secondary),
  -6px 6px var(--secondary),
  -7px 7px var(--secondary),
  -8px 8px var(--secondary),
  -9px 9px var(--secondary),
  -10px 10px var(--secondary),
  -11px 11px var(--secondary),
  -12px 12px var(--secondary),
  -13px 13px var(--secondary),
  -14px 14px var(--secondary);
}

.grid{
  width:100%;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.grid > div{
  padding: 1rem;
  position:relative
}

.grid > div::before{
  content: "";
  padding-top: 100%;
  display: block;
  z-index: -1;
}

.grid > div > img{
  background: black;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
}

.grid > div > a{
  justify-self: stretch;
  align-self: stretch;
  width: 100%;
  font-size: 3em;
  background: black;
  color:palevioletred;
  bottom:0;
}

.contact-box{
  display: flex;
  justify-content: space-around;
  background:var(--primary);
  padding: 20px;
  width: 100%;
  border-radius:20px;
}